body {
	background-color: #ffffff;
}

h1,h2,h3,h4,h5,h6 {
	color: #333333;
    padding: 5px;
}

#cost-display {
    display: inline-block;
    float: right
}

#shopping-cart-total {
    float: right;
    margin: 5px;
}

#cart-icon {
    display: block;
	width: 22px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
	display: inline-block;
	margin-left: 15px;
}

#cart-total {
	display: block;
	text-align: center;
    vertical-align: middle;
	color: #ffffff;
    margin-right: 15px;
	width: 3rem;
	height: 4px;
}

p {
    margin-top: 14px;
    margin-bottom: 1rem;
}

.box-element {
	background-color: #fff;
	padding: 10px;
}

.thumbnail {
	width: 60%;
	height: 74%;
    
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product {
	border-radius: 0 0 4px 4px;
}

.bg-dark {
	background-color: #3a3a3a!important;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12 {
	margin-top: 20px;
}

.btn {
	border-radius: 0;
}

.row-image {
	width: 100px;
}

.form-field {
	width: 250px;
	display: inline-block;
	padding: 5px;
}

.cart-row {
	display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity {
	display: inline-block;
	font-weight: 700;
    margin-right: 10px;
}

.quantity-arrows {
	display: inline-block;
	font-weight: 700;
	padding-right: 10px;
}

.chg-quantity {
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition: .1s;
}

.chg-quantity:hover {
	opacity: .6;
}


.hidden {
	display: none!important;
}

/* Stripe */

.StripeElement {
    display: block;
    width: 92%;
    margin-bottom: 12px;
    margin-left: 10px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}