{% extends 'shop/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    {% csrf_token %}
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="Name">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="email" name="email" placeholder="Email">
                        </div>
                    </div>
	
                    <div id="shipping-info">
                        <hr>
                        <p>Customer Details:</p>
                        <hr>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="Name">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="email" name="email" placeholder="Email">
                        </div>
                        <hr>
                        <p>Shipping Information:</p>
                        <hr>
                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Address">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city" placeholder="City">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="state" placeholder="State/Province/Region">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="postcode" placeholder="Postcode">
                        </div>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-primary btn-block" type="submit" value="Continue">
                </form>
            </div>

            <br>

            <div class="box-element hidden" id="payment-info">
                <!-- <div id="stripe-button-container"> -->
                <div id="payment-info">
                    <hr>
                    <p>Credit or Debit Card:</P>
                    <hr>
                    <form action="{% url 'shop' %}" method="post" id="payment-form">
                        {% csrf_token %}
                        <div class="form-row">
                            
                            <div id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                            </div>

                            <!-- Used to display form errors. -->
                            <div id="card-errors" role="alert"></div>
                        </div>

                        <button class="btn btn-primary">Submit Payment</button>
                    </form>
                <!-- </div> -->
                <!-- <button id="make-payment" class="btn btn-primary">Make Payment</button> -->
                </div>
            </div> 
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a  class="btn btn-outline-dark" href="{% url 'shopping_cart' %}">&#x2190; Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>

                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div style="flex:2"><p>{{item.product.name}}</p></div>
                    <div style="flex:1"><p>€{{item.product.price}}</p></div>
                    <div style="flex:1"><p>x{{item.quantity}}</p></div>
                </div>
                {% endfor %}

                <h5>Items: {{order.get_cart_items}}</h5>
                <h5>Total: €{{order.get_cart_total|floatformat:2}}</h5>
            </div>
        </div>
    </div>

    <script>
        // Create a Stripe client.
        var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
            color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.on('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
        });

        // Handle form submission.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {
            // Inform the user if there was an error.
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
            } else {
            // Send the token to your server.
            stripeTokenHandler(result.token);
            }
        });
        });

        // Submit the form with the token ID.
        function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
        }
    </script>

    <script type="text/javascript">
        var shipping = '{{order.shipping}}'
        var total = '{{order.get_cart_total}}'

        if (shipping == 'False'){
            document.getElementById('shipping-info').innerHTML = ''
        }

        if (user != 'AnonymousUser'){
            document.getElementById('user-info').innerHTML = ''
        }

        if (shipping == 'False' && user != 'AnonymousUser'){
            // Hide form if user is logged in but shipping status is false
            document.getElementById('form-wrapper').classList.add('hidden');
            // Display payment if user logged in and wants to buy digital item
            document.getElementById('payment-info').classList.remove('hidden');
        }

        var form = document.getElementById('form')

        csrftoken = form.getElementsByTagName('input')[0].value
        console.log('Newtoken:', form.getElementsByTagName('input')[0].value)
        
        form.addEventListener('submit', function(e){
            e.preventDefault()
            console.log('Form Submitted')
            document.getElementById('form-button').classList.add('hidden');
            document.getElementById('payment-info').classList.remove('hidden');
        })
        /*
        document.getElementById('make-payment').addEventListener('click', function(e){
            submitFormData()
        })
        */
        function submitFormData(){
            console.log('Payment button clicked')

            var userFormData = {
                'name': null,
                'email': null,
                'total': total,
            }

            var shippingInfo = {
                'address': null,
                'city': null,
                'state': null,
                'postcode': null,
            }

            if (shipping != 'False'){
                shippingInfo.address = form.address.value
                shippingInfo.city = form.city.value
                shippingInfo.state = form.state.value
                shippingInfo.postcode = form.postcode.value
            }

            if (user == 'AnonymousUser'){
                userFormData.name = form.name.value
                userFormData.email = form.email.value
            }

            var url = "/process_order/"
            fetch(url, {
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'form': userFormData, 'shipping': shippingInfo})
            })

            .then((response) => response.json())

            .then((data) => {
                console.log('Success:', data);
                alert('Transaction complete');

                shoppingCart = {}
                document.cookie ='shoppingCart=' + JSON.stringify(shoppingCart) + ";domian=;path=/"
                
                window.location.href = "{% url 'shop' %}"
            });

            console.log('Shipping Info:', shippingInfo)
            console.log('User Info:', userFormData)
        }
    </script>
{% endblock %}
