{% extends 'shop/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
        {% for product in products %}
		<div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
				<hr>
                
				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-primary add-btn update-shopping-cart">Add to Cart</button> <!-- data custom attritube from stackoverflow.com -->
				<a class="btn btn-dark" href="#">View</a>
				<h4 id="cost-display"><strong>${{product.price|floatformat:2}}</strong></h4> <!-- float format from stackoverflow.com -->
                <hr>
			</div>
		</div>
        {% endfor %}
	</div>
{% endblock %}
